body{
    text-align: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(assests/con4nect.png);
}

div.turn{
    text-align: center;
    border: 2px solid black;
    max-width: fit-content;
    padding: 20px;
    font-size: 150%;
    margin: auto;
    margin-bottom: 20px;
    background-color: #ff898a;
}

div.main{
    text-align: center;
    border: 2px solid black;
    max-width: fit-content;
    padding: 20px;
    font-size: 150%;
    margin: auto;
    margin-bottom: 20px;
    background-color: white;
}

span.currentTurn{
    font-weight: bold;
    font-size: larger;
}

button.refresh{
    padding: 10px;
    font-size: 20px;
    margin: 10px;
}